html {
    background: -webkit-radial-gradient(circle, #fcee92 0%, #ebcf12 100%);
    height: 100%;
    width: 100%;
}

.chart-container {
    display: block;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    margin-top: 100px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
